<section class="timeline--container" *ngFor="let item of data">
  <!-- Left Container -->
  <div class="timeline--container-left">
    <ng-container
      *ngTemplateOutlet="leftContainer ? leftContainer : defaultLeftContainer"
    >
    </ng-container>
    <ng-template #defaultLeftContainer>
      <span>{{ item.date.day }}</span>
      <h3>{{ item.date.date }}</h3>
      <span>{{ item.date.hour }}</span>
    </ng-template>
  </div>

  <!-- Line Container -->
  <div class="line">
    <i class="mdi mdi-alert-circle-outline"></i>
    <hr />
  </div>

  <!-- Right Container -->
  <div class="timeline--container-right">
    <ng-container
      *ngTemplateOutlet="
        rightContainer ? rightContainer : defaultRightContainer
      "
    >
    </ng-container>

    <ng-template #defaultRightContainer>
      <h3>{{ item.content.title }}</h3>
      <p>{{ item.content.description }}</p>
    </ng-template>
  </div>
</section>
