<section class="timeline--container" *ngFor="let item of _data">
  <!-- Left Container -->
  <div class="timeline--container-left">
    <ng-container
      [ngTemplateOutlet]="leftContainer ? leftContainer : defaultLeftContainer"
      [ngTemplateOutletContext]="item"
    >
    </ng-container>
    <ng-template #defaultLeftContainer>
      <span>{{ item.leftContent.day }}</span>
      <h3>{{ item.leftContent.date }}</h3>
      <span>{{ item.leftContent.hour }}</span>
    </ng-template>
  </div>

  <!-- Line Container -->
  <!-- <div class="line">
    <i class="mdi mdi-alert-circle-outline"></i>
    <hr />
  </div> -->

  <!-- Right Container -->
  <div class="line">
    <i class="mdi mdi-alert-circle-outline"></i>
    <hr />
  </div>
  <div class="timeline--container-right">
    <ng-container
      *ngTemplateOutlet="
        rightContainer ? rightContainer : defaultRightContainer
      "
    >
    </ng-container>

    <ng-template #defaultRightContainer>
      <span
        *ngFor="let tag of item.rightContent.tags"
        class="timeline--container-tags"
      >
        {{ tag }}
      </span>
      <h3>{{ item.rightContent.title }}</h3>
      <p>{{ item.rightContent.description }}</p>
    </ng-template>
  </div>
  <!-- </div> -->
</section>
