<!-- <app-timeline
  [leftContainer]="customLeftButtons"
  [rightContainer]="customRightContainer"
  [data]="data"
  [reverse]="true"
>
</app-timeline>
<ng-template #customLeftButtons let-leftContent="leftContent">
  <div class="custom-class">
    <span class="btn-custom" (click)="login()">{{ leftContent.day }}</span>
    <h3 class="tab-button" (click)="signUp()">
      {{ leftContent.date }}
    </h3>
    <span class="span-custom" (click)="signUp()">
      {{ leftContent.hour }}
    </span>
  </div>
</ng-template>

<ng-template #customRightContainer>
  <div class="custom-class">
    <button (click)="login()">hola mundo</button>
    <button (click)="signUp()">comida</button>
  </div>

</ng-template> -->

<app-timeline
  [data]="data"
  [reverse]="true"
  [fromServer]="'ThAssistances/timelineData'"
>
</app-timeline>
