<app-timeline
  [leftContainer]="customTabButtons"
  [rightContainer]="customTabButtons"
  [data]="data"
>
</app-timeline>
<ng-template #customTabButtons>
  <div class="custom-class">
    <button class="tab-button" (click)="login()">hola mundo</button>
    <button class="tab-button" (click)="signUp()">comida</button>
  </div>
</ng-template>

<ng-template #customRightContainer>
  <div class="custom-class">
    <button class="tab-button" (click)="login()">hola mundo</button>
    <button class="tab-button" (click)="signUp()">comida</button>
  </div>
</ng-template>

<app-timeline [data]="data"> </app-timeline>
