/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800");
@import "~@mdi/font/css/materialdesignicons.css";

body {
  background: #252827;
  font-family: "Saira", sans-serif;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
